/* BASE */
/* Default styles - exclusively elements, descendants, children, and pseudo classes. */

/* BROSWER RESETS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
body {
  background-color: #f9f7f7;
  color: #000000;
}
ol,
ul {
  list-style: none;
}
li {
  margin: 0;
}
article {
  padding: 50px 25px 0;
}
a {
  color: #000000;
  transition: all 200ms ease;
  text-decoration: none;
}
a:hover {
  color: #ff3366;
}
img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
figure {
  margin: 0;
}

/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Hind", sans-serif;
}
h1,
.h1 {
  margin-top: 12px;
  font-size: 38px;
}
h2,
.h2 {
  margin-top: 8px;
  font-size: 32px;
}
h3,
.h3 {
  margin-top: 5px;
  font-size: 24px;
}
h4,
.h4 {
  margin-top: 2px;
  font-size: 20px;
}
h5,
h6,
.h5,
.h6 {
  font-size: 16px;
}
p,
li,
a,
span,
blockquote {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

/* LAYOUT */
.nav-header {
  margin-bottom: 50px;
}
.nav {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  background-color: #f9f7f7;
  border-top: 10px solid #ff3366;
  box-shadow: 0px 3px 11px 0px #cccbcb;
}
.section {
  padding: 0 20px 40px;
  margin: 0 20px;
  border-bottom: 1px solid #000;
}
.block-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: stretch; */
}
.block {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.-border-decor {
  border-bottom: 1px solid #b9b9b9;
  border-left: 1px solid #b9b9b9;
  box-shadow: 5px 10px #d8d8d8;
}
@media screen and (min-width: 250px) {
  .-four {
    width: 47%;
  }
}
@media screen and (min-width: 500px) {
  .-four {
    width: 22%;
  }
  .-three {
    width: 47%;
  }
}
@media screen and (min-width: 900px) {
  .-two {
    width: 47%;
  }
  .-three {
    width: 30%;
  }
}

/* ELEMENTS */
.nav-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav-list-item,
.icon-link {
  display: inline-block;
  line-height: 48px;
  padding-left: 10px;
  padding-right: 10px;
}
.nav-list-item,
.icon-link {
  border-bottom: 2px solid transparent;
}
.nav-list-item:hover,
.icon-link:hover {
  border-bottom: 2px solid #ff3366;
}
.responsibilities {
  padding-left: 10px;
}
.tech-tags {
  margin-top: 10px;
  padding: 5px;
}
.tech-tags span {
  margin: 5px 5px 0 0;
  padding: 0 5px 1px;
  border-radius: 2px;
  background-color: #ffebf0;
}
.mahalo {
  text-align: center;
  color: #f9f7f7;
  background-color: #000000;
}
.emph {
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: bold;
  font-style: italic;
}

/* functional */
.underline {
  text-decoration: underline;
}
.even {
  justify-content: space-evenly;
}
.center {
  justify-content: center;
}
.start {
  justify-content: flex-start;
}
.between {
  justify-content: space-between;
}
.stretch {
  justify-content: stretch;
}
.advanced {
  color: #068382;
}
.intermediate {
  color: #60b8b7;
}
.novice {
  color: #d1eaea;
}
.highlight {
  color: #ff3366;
}
