/* BASE */
/* Default styles - exclusively elements, descendants, children, and pseudo classes. */

/* BROSWER RESETS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}
body {
    background-color: #f9f7f7;
    color: #000000;
}
ol, ul {
    list-style: none;
}
li {
    margin: 0;
}
article {
    padding: 50px 25px 0;
}
a {
    color: #000000;
    transition: all 200ms ease;
    text-decoration: none;
}
a:hover {
    color: #ff3366;
}
img {
    display: block;
    width: 100%;
    margin: 0 auto;
}
figure {
    margin: 0;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Hind', sans-serif;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 32px;
} 
h3 {
    font-size: 24px;
}
h4 {
    font-size: 20px
} 
h5 {
    font-size: 16px;
}
h6 {
    font-size: 16px;
}
p, li, a, blockquote {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

/* LAYOUT */
.nav-header {
    margin-bottom: 50px;
}
.nav {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    background-color: #f9f7f7;
    border-top: 10px solid #ff3366;
}
.block-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
}
.block-3 {
    width: 100%;
    padding: 10px 1%;
}
@media screen and (min-width: 500px) {
    .block-3 {
        width: 40%;
    }
}
@media screen and (min-width: 900px) {
    .block-3 {
        width: 30%;
    }
}
.block-2 {
    width: 100%;
    padding: 10px 2%;
}
@media screen and (min-width: 900px) {
    .block-2 {
        width: 45%;
    }
}

/* ELEMENTS */
.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.even {
    justify-content: space-evenly;
}
.center {
    justify-content: center;
}
.nav-list-item,
.icon-link {
    display: inline-block;
    line-height: 48px;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-list-item,
.icon-link {
    border-bottom: 2px solid transparent;
}
.nav-list-item:hover,
.icon-link:hover {
    border-bottom: 2px solid #ff3366;
}
.mahalo {
    text-align: center;
    color: #f9f7f7;
    background-color: #000000;
}
.advanced {
    color: #068382;
}
.intermediate {
    color: #60b8b7;
}
.novice {
    color: #d1eaea;
}
.highlight {
    color: #ff3366;
}